# modified by me

export(Admixture_ModPlot)

importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "barplot", "layout", "locator", "par", "plot", "rect", "text")
importFrom(data.table, between, fread, fwrite)
importFrom(RColorBrewer, brewer.pal.info, brewer.pal)